<h1>Your Profile</h1>

<table>
  <tr>
  </tr>
<% if @profiles.empty? %>
No profile has been created.<br><br>
	<%= link_to 'Create new profile', new_profile_path %>
<% else %>
	<% for profile in @profiles %>
	<%= render :partial => 'profile_data' %>
	
  	<tr>
    	<td><%= link_to 'Edit Profile', edit_profile_path(profile) %></td>
  	</tr>
	<% end %>
<% end %>
</table>

<br />


