<strong>New Room Request</strong><br />

<br />

<p>Dear <strong><%=h @host.username %></strong>,</p>
<br />

<p>You have a new reservation request from <strong><%=h @renter.username %></strong> for the room located at <strong><%=h @room.street_address_1 %></strong>.</p>




  
