<strong>New Room Request</strong><br />

<%=h @host.username %>,<br />

<p>You have a new reservation request from <%=h @renter.username %> for the room located at <%=h @room.street_address_1 %>.</p>




  
