<strong>Room Approval</strong><br />

<br />

<p>Dear <strong><%=h @renter.username %></strong>,</p>
<br />

<p>Your reservation request for the room located at <strong><%=h @room.street_address_1 %></strong> has been approved by <strong><%=h @host.username %></strong> .</p>