<h1>Listing favorites</h1>

<table>
  <tr>
  </tr>

<% for favorites in @favorites %>
  <tr>
    <td><%= link_to 'Show', favorites %></td>
    <td><%= link_to 'Edit', edit_favorites_path(favorites) %></td>
    <td><%= link_to 'Destroy', favorites, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New favorites', new_favorites_path %>
