<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"~CCC
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<input type="hidden" id="id", value="<%=@room.id%>"></input
	<script src="http://maps.google.com/maps?file=api&v=2&key=ABQIAAAApYAAWQLCpKidmDF3vKJhxRTJQa0g3IQ9GZqIMmInSLzwtGDKaBTdapThRrHK4PBstysnofBjGciQjA" type="text/javascript"></script>
	<%=javascript_include_tag 'new_window'%>
	
	<%=hidden_field_tag 'full_address', @room.full_address %>
	
	<script type="text/javascript">
		
		var full_address=window.document.getElementById("full_address").value;	
		document.write(id);
	</script>
</head>
<body>
	<div id="map" style="width: 500px; height: 400px"></div>
	<%=hidden_field_tag 'id', @room.id %>
</body>
</html>
