<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"~CCC
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <script src="http://maps.google.com/maps?file=api&v=2&key=ABQIAAAApYAAWQLCpKidmDF3vKJhxRTJQa0g3IQ9GZqIMmInSLzwtGDKaBTdapThRrHK4PBstysnofBjGciQjA" type="text/javascript"></script>
    <%=javascript_include_tag 'application'%>
	<script type="text/javascript">
		
	</script>
  	<!--<script type="text/javascript">
		var markers = [
		    {
		        'latitude': 37.818361,
		        'longitude': -122.478032,
		        'name': 'Golden Gate Bridge'
		    },
		    {
		        'latitude': 40.6897,
		        'longitude': -74.0446,
		        'name': 'Statue of Liberty'
		    },
		    {
		        'latitude': 38.889166,
		        'longitude': -77.035307,
		        'name': 'Washington Monument'
		    }
		];
     -->  

</head>
<body>
	<div id="map" style="width: 500px; height: 225px"></div>
     
</body>
</html>
