<h1>Editing room_review</h1>

<% form_for(@room_review) do |f| %>
  <%= f.error_messages %>
	
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @room_review %> |
<%= link_to 'Back', room_reviews_path %>
