<h1>Listing room_reviews</h1>

<table>
  <tr>
  </tr>

<% for room_review in @room_reviews %>
  <tr>
    <td><%= link_to 'Show', room_review %></td>
    <td><%= link_to 'Edit', edit_room_review_path(room_review) %></td>
    <td><%= link_to 'Destroy', room_review, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New room_review', new_room_review_path %>
