<p class="supertiny">&nbsp;</p>
<div id="footer">
	<%= link_to 'Home', home_path('home') %>&nbsp;&nbsp;::&nbsp;&nbsp;
    <%= link_to 'Contact Us', home_path('contact') %>&nbsp;&nbsp;::&nbsp;&nbsp;
	<%= link_to 'Privacy Policy', home_path('privacy') %>
	<br />
	<div id="copy">
		Webmaster: <%= mail_to("akowalsk@andrew.cmu.edu", "Team3", :encode => "javascript") %> 
		&nbsp;&nbsp;&copy 2009
	</div>
</div>
