@charset "utf-8";
/* CSS Document */
html, body {
	background: #ffcc66;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
}

#lineH {
background-color:#ffcc66;
background:url(/images/layout/bodyH_bg_900.jpg) no-repeat top left;
}

#lineML {
background-color:#ffcc66;
background:url(/images/layout/bodyML_bg_900.jpg) no-repeat top left;
}

#lineMT {
background-color:#ffcc66;
background:url(/images/layout/bodyMT_bg_900.jpg) no-repeat top left;
}

#linePT {
background-color:#ffcc66;
background:url(/images/layout/bodyPT_bg_900.jpg) no-repeat top left;
}

#lineA {
background-color:#ffcc66;
background:url(/images/layout/bodyTA_bg_900.jpg) no-repeat top left;
}

#ytext a {
	color:#FFCC66;
	font-size:13px;
}

#tabOn a {
	background-color:#333399;
	border-top:5px solid #FFCC66;
	color:#FFCC66;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:20px;
	font-weight:bold;
	height:18px;
	line-height:45px;
	padding:10px 5px 20px;
	text-decoration:none;
}

#tab a {
	background-color:#333366;
	color:#FFCC66;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:20px;
	font-weight:bold;
	height:20px;
	line-height:45px;
	padding:6px 5px 10px;
	text-decoration:none;
}

#tabBg  {
background-color:#333399;
}

#tabOn a {
	background-color:#333399;
	border-top:5px solid #FFCC66;
	color:#FFCC66;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:20px;
	font-weight:bold;
	height:18px;
	line-height:45px;
	padding:10px 5px 20px;
	text-decoration:none;
}

#wrapT {
	width:900px;
	margin:0 auto;
	padding:0;
	background:url(/images/layout/bodyT_bg_900.jpg) repeat-y top left;
}

#wrap {
	width:900px;
	margin:0 auto;
	padding:0;
	background:url(/images/layout/body_bg_900.jpg) repeat-y center left;
}

#header {
	background:url(/images/layout/banner_border_900.jpg) no-repeat top left;
	height:160px;
}

#mini_login {
	color:#FFCC66;
	font-size:18px;
	float: right;
	margin-top: 30px;
	margin-right: 40px;
	text-align: right;
}

#mini_logout {
	color:#FFCC66;
	font-size:18px;
	float: right;
	margin-top: 40px;
	margin-right: 40px;
}

#nav {
	width:900px;
	margin:0;
	padding:0;
	height:30px;
}

#body {
	margin:0 15px;
	padding:15px;
}

#body img {
	float: left;
	padding-right: 15px;
	padding-bottom: 10px;
	border: 0px;
}

#body img.right {
	float: right;
	padding-left: 15px;
	padding-bottom: 10px;
}

#footer {
	margin:0;
	padding:10px 15px 15px 15px;
	background:url(../images/layout/footer_900.jpg) no-repeat bottom left;
	text-align:center;
	font-size: 93%;
}

#copy {
	margin: 5px auto;
	color:black;
	text-align:center;
	font-size:85%;
}

#copy a {
	color: #666;
	text-decoration: none;
}

#copy a:hover {
	color: #666;
	text-decoration: underline;
}



/********** TABLE FORMATTING ********/

.tblborder {
	border-right-width:0px;
    border-right-color:black;
    border-right-style:solid;
	border-left-width:0px;
    border-left-color:black;
    border-left-style:solid;
	border-top-width:0px;
    border-top-color:black;
    border-top-style:solid;
	border-bottom-width:0px;
    border-bottom-color:black;
    border-bottom-style:solid;
}

.trow {
	font-weight: bold;
	color: #ffffff;
	background-color: #666;
	height: 28px;
}

.quizrow {
	vertical-align: top;
	line-height: 12px;
}


/********** MAIN NAV ********/


#nav ul {
	display:block;
	height:30px;
	width:30em;
	max-width:900px;
	z-index:5;
	margin: 0;
	padding: 0;
	white-space: nowrap;
	list-style:none;
	margin:0 auto;
	font-size:145%;
	font-weight:bold;
}

#nav li { 
	display: inline;
	list-style-type: none;
	float:left;
	height:39px;
	position:relative;
}

#nav a { 
	padding:5px 0px 0 54px;
	display:block;
	height:100%;
}

#nav span { 
	padding:0 19px 0 10px;
	display:block;
	height:100%;
	background:url(../images/layout/yellow_down_arrow.gif) right top no-repeat;
}

#nav span:hover {
	cursor:pointer;
}

#nav a:link, #nav a:visited {
	color: #000;
	text-decoration: none;
}

#nav a:hover {
    background: url(../images/layout/hover_overlay.png) no-repeat top left transparent;
	text-decoration: none;
	text-decoration:underline;
}

#nav li:hover ul {
	left: 15px;
}

#nav li ul {
	position: absolute;
	width:11em;
	left: -999em;
	padding:0 6px 6px 0;
	margin:0;
	margin-top:-20px;
	font-size:85%;
}

#nav li ul li {
	float:right;
	height:auto;
	padding:0;
	margin:0;
	width:100%;
	border-top:1px solid #393c3e;
	border-bottom:1px solid #1d2022;
	background-color:#222628;
}

#nav li ul li a, #nav li ul li a:link, #nav li ul li a:visited {
	padding:10px 10px;
	margin:0;
	text-decoration: none;
	color:#fff;
}

#nav li ul li:hover {
	color: #fff;
	float:right;
	height:auto;
	padding:0;
	margin:0;
	width:100%;
	border-top:1px solid #3a3e40;
	border-bottom:1px solid #1d2022;
	background-color: #3a3e40;
}

#nav li ul li:hover a {
	padding:10px 10px;
	margin:0;
	color: #fff;
}


/********** WIDGETS ********/
.widget1 {
	background:url(/images/layout/section_marker.gif) top left no-repeat;
	padding: 1px 0 0 10px;
	margin: 0 0 2em 0;
	font-size: 86%;
}

.widget2 {
	padding: 8px 0 0 16px;
	margin: 0 0 2em 0;
	font-size: 86%;
}


.announce {
	font-weight: normal;
	font-size: 95%;
}

.announce ul li {
	list-style-image: url(/images/icons/knight_bullet_3.gif);
}

#sections {
	border:1px solid #000000;
	background-color:#bfbfbf;
}



.pfbox {
	font-size:9px;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	color: #000099;
	width:60px;
	padding:5px;
	float:	right;
	background:#FFFFFF;	
	border-right-width:1px;
    border-right-color:#CCCCCC;
    border-right-style:solid;
	border-left-width:1px;
    border-left-color:#CCCCCC;
    border-left-style:solid;
	border-top-width:1px;
    border-top-color:#CCCCCC;
    border-top-style:solid;
	border-bottom-width:1px;
    border-bottom-color:#CCCCCC;
    border-bottom-style:solid;
}

.pfbox a {
	text-align: center;
	vertical-align: middle;
	font-size:9px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration:none;
}

.pfbox:hover {
	font-size:9px;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	color: #FFFFFF;
	width:60px;
	padding:5px;
	float:	right;
	background:#FF0000;	
}

/*********** STAR RATING *************/

.star-rating,  
.star-rating a:hover,  
.star-rating a:active,  
.star-rating a:focus,  
.star-rating .current-rating{  
    background: url('/images/star_rating.gif') left -1000px repeat-x;  
}  
.star-rating{  
    position: relative;  
    width: 150px;  
    height: 30px;  
    overflow: hidden;  
    list-style: none;  
    margin: 0;  
    padding: 0;  
    background-position: top left;  
}  
.star-rating li{  
    display: inline;  
}  
.star-rating a,  
.star-rating .current-rating{  
    position: absolute;  
    top: 0;  
    left: 0;  
    text-indent: -1000em;  
    height: 30px;  
    line-height: 30px;  
    outline: none;  
    overflow: hidden;  
    border: none;  
}  
.star-rating a:hover,  
.star-rating a:active,  
.star-rating a:focus{  
    background-position: center left;  
}  
.star-rating a.one-stars{  
    width: 20%;  
    z-index: 6;  
}  
.star-rating a.two-stars{  
    width: 40%;  
    z-index: 5;  
}  
.star-rating a.three-stars{  
    width: 60%;  
    z-index: 4;  
}  
.star-rating a.four-stars{  
    width: 80%;  
    z-index: 3;  
}  
.star-rating a.five-stars{  
    width: 100%;  
    z-index: 2;  
}  
.star-rating .current-rating{  
    z-index: 1;  
    background-position: bottom left;  
}  
.star-ratings-block {  
    font-size: .75em;  
    text-align: center;  
    width: 100%;  
}  
