<html>		
	<body>
		<fieldset>
      <legend>Password change successful</legend>
      <p>
       Your password reset is successful. Please log in with your new password during your next session.
      </p>
    </fieldset>
	</body>
</html>