<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>Dormhost</title>
	</head>
	<body>
		<fieldset>
      <legend>Your Account</legend>
      
      <p>
        An email has been sent to <%= @user.email %> with instructions to reset your password
        <li>
          If you don't receive an email, check your bulk or trash folder, as your spam 
          filter may have inadvertantly caught the registration email.
        </li>
      </p>
    </fieldset>
	</body>
</html>
