<html>		
	<body>
		<fieldset>
      <legend>Password reset</legend>
      <p>
       Your password reset is successful. Please log in with your new password.
      </p>
    </fieldset>
	</body>
</html>