<h1>Contact Info</h1>
<table><br>
<td><tr>Dormhost is an application created by Team 3 of the Information Systems Program in Carnegie Mellon University.<br>For questions, comments, and suggestions, please contact one of the following team members:</tr></td>
</table>

<table cellspacing="10">
	<tr>
		<td><b>Megha Akki</b></td>
		<td><a href="mailto:makki@andrew.cmu.edu">makki@andrew.cmu.edu</a></td>
	</tr>
	<tr>
		<td><b>Alex Kowalski</b></td>
		<td><a href="mailto:akowalsk@andrew.cmu.edu">akowalsk@andrew.cmu.edu</a></td>
	</tr>
	<tr>
		<td><b>Yao Wee Ng</b></td>
		<td><a href="mailto:yaoween@andrew.cmu.edu">yaoween@andrew.cmu.edu</a></td>
	</tr>
	<tr>
		<td><b>Chaman Saron</b></td>
		<td><a href="mailto:csaron@andrew.cmu.edu">csaron@andrew.cmu.edu</a></td>
	</tr>
	<tr>
		<td><b>Kevin yeh</b></td>
		<td><a href="mailto:kyeh@andrew.cmu.edu">kyeh@andrew.cmu.edu</a></td>
	</tr>
</table>
