<table>
	<tr>
		<td width="100"></td>
		<td width="580" valign="top">
			<h1>Welcome To Dormhost</h1>
			<p>Dormhost is a portal for traveling students to temporary short-term housing with other students across United States colleges and universities. Users can create personal profiles, upload pictures of their space for rent, list asking prices for rental, etc. Through searching by location, college, host, and interests, traveling students can use this site to find cheap, safe, and convenient housing with peers that they have the option to screen and communicate with.
				</p>
		</td>
	</tr>
</table>