<table>
	<tr>
		<td width="30"></td>
		<td width="500" valign="top" align= "center">
			<h1>Welcome To Dormhost</h1>
			<p>Dormhost is a portal for traveling students to temporary short-term housing with other students across United States colleges and universities. Users can create personal profiles, upload pictures of their space for rent, list asking prices for rental, etc. Through searching by location, college, host, and interests, traveling students can use this site to find cheap, safe, and convenient housing with peers that they have the option to screen and communicate with.
				</p>
		</td>
		<td width="50"></td>
		<td  valign="bottom" align= "left">
			<fieldset style="border: 4px ridge #333399; color:#333399">
			<b>Rooms at these schools already listed!</b><br><br>
				&nbsp;&nbsp;Carnegie Mellon University<br>
				&nbsp;&nbsp;University of Pittsburgh<br>
				&nbsp;&nbsp;Ohio State University<br>
				&nbsp;&nbsp;Penn State University<br>
				&nbsp;&nbsp;New York University<br>
				&nbsp;&nbsp;University of Chicago<br>
				&nbsp;&nbsp;Tufts University<br>
				&nbsp;&nbsp;University of Maryland<br>
				&nbsp;&nbsp;University of Southern &nbsp;&nbsp;&nbsp;&nbsp;California<br>
				&nbsp;&nbsp;Brown University<br>
				&nbsp;&nbsp;Princeton University<br>
				&nbsp;&nbsp;Mercer County Community &nbsp;&nbsp;&nbsp;&nbsp;College<br>
				&nbsp;&nbsp;and many more!<br>
				</fieldset>
		</td>
	</tr>
</table>