<h1>Private Policy</h1>
<i>Effective April 29, 2009</i><br><br><br>

This privacy policy is provided by Dormhost to inform users of our processes involving collecting and distributing profile and transaction information obtained from those who have registered and created profiles with this application.
<br><br>
<h3>Transactions</h3>
Dormhost is not liable for any discrepancies that may occur within transactions between a host and renter.  These include, but are not limited to, the following:<br><br>
- Refusal of payment<br>
- Falsified information regarding host/room/renter<br>
- Violations of college/landlord housing and guest policies<br>

<br>
<h3>Hosts</h3>
In addition to informing the renter of any last-minute changes in availability, it is the responsibility of the host to review the appropriate visitation policies for the respective college, apartment building, etc. Any consequences as a result of violation of such policies must be dealt with accordingly by the host.

<br>
<h3>Renters</h3>
It is the responsibility of the renter to inform the host of any last-minute changes in travel plans.  This can be done through modifying the transaction created on Dormhost's web application, or, in cases where there is not enough time to adequately inform the host through the email notification given from transaction changes, direct contact via phone.