<p>Private Policy</p>
<i>Effective April 29, 2009</i>

This privacy policy is provided by Dormhost to inform users of our processes involving collecting and distributing profile and transaction information obtained from those who have registered and created profiles with this application.
<br><br>
<b>Transactions</b>
Dormhost is not liable for any discrepancies that may occur within transactions between a host and renter.  These include, but are not limited to, the following:<br><br>
- Refusal of payment<br>
- Falsified information regarding host/room/renter<br>
- Violations of college/landlord housing and guest policies<br>

<br>
<b>Hosts</b><br>
It is the responsibility of the host to review the appropriate visitation policies for the respective college, apartment building, etc.
