<h1>Room Profiles</h1>

<table class="datagrid">
    <thead class="datagrid">
	<th width="300">Room Profile</th>
  <tr>
  </tr>

<% for room_profile in @room_profiles %>
  <tr>
	<td align="left">&nbsp;<%= link_to( h(room_profile.bed_type), room_profile_path(room_profile)) %></td>
  </tr>
	<tr>	
        <td>
	    <%= link_to 'Edit', edit_room_profile_path(room_profile) %>
	    <%= link_to 'Delete', room_profile, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
<% end %>
</table>

<br />

<%= link_to 'New room_profile', new_room_profile_path %>


